# Грузим библиотеки

In [ ]:
from flask import Flask
from flask import request
import requests
from flask import make_response
import os
import json
from pandas import DataFrame
import traceback


from methods import access
from methods.emoji import emoji
from methods import telegram_bot_methods
from methods import google_maps_methods
from methods import psql_methods
from methods import reply



import app



if __name__ == "__main__":

    
    app.application.run()

In [ ]:
X = {'update_id': 201011794, 'message': {'message_id': 159, 'from': {'id': 84723474, 'first_name': 'Александр', 'last_name': 'Толмачёв', 'language_code': 'ru-RU'}, 'chat': {'id': 84723474, 'first_name': 'Александр', 'last_name': 'Толмачёв', 'type': 'private'}, 'date': 1502611993, 'text': '/help', 'entities': [{'type': 'bot_command', 'offset': 0, 'length': 5}]}}
X['message']['text'] = '/start'
X['message']['chat']['last_name']

In [15]:
#тест отправки графика
import psycopg2
from pandas import DataFrame
import pandas as pd
from datetime import datetime
from datetime import timedelta

#завтрашная дата без часов минут
def tomorrow_str():
    tomorrow = datetime.now()+ timedelta(days=1)
    tomorrow_str = str(tomorrow.year)+str(tomorrow.month if tomorrow.month >= 10 else  '0'+str(tomorrow.month))+str(tomorrow.day if tomorrow.day >= 10 else  '0'+str(tomorrow.day)) 
    return tomorrow_str

now = datetime.now()

dbname = 'dbr3jigs1op5oo'
port = '5432'
user = 'muwrkppfuyldmk'
host = 'ec2-54-227-252-202.compute-1.amazonaws.com'
password = '4c4eabfcaf92f7289ccfc1a314d04a3c3806db72b1bf12fd5f0f40c410b14355'

PSQL_heroku_keys = {'dbname' : dbname
                    , 'port' : port
                    , 'user' : user
                    , 'host' : host
                    , 'password' : password
                    }


tomorrow_str = '20170907'
user_id = 13


conn = psycopg2.connect("dbname='%(dbname)s' port='%(port)s' user='%(user)s' host='%(host)s' password='%(password)s'" % PSQL_heroku_keys)

response = {'status' : 200
            ,'report' : 'tomorrow_expense'
            ,'system_message' : 'No reports'
            ,'user_messages' : []
            }
###################
cur = conn.cursor()
#смотрим, какие данные завтра есть
cur.execute("SELECT * from public.transaction_plan where date_plan = '%(tomorrow_str)s'" % {'tomorrow_str' : tomorrow_str} )

#получаем данные
df_tomorrow_transaction_plan = DataFrame(cur.fetchall(), columns=[desc[0] for desc in cur.description])

print ('ok')

ok

In [16]:
df_tomorrow_transaction_plan

,id,user_id,wallet_id,transaction_type,transaction_name,summa,date_plan,flg_done
0,6,13,5,другие,Купить барбосу игрушек,500.00,2017-09-07,False
1,7,13,5,еда,картошка1,123.00,2017-09-07,False
2,8,13,5,еда,картошка2,234.00,2017-09-07,False
3,9,13,5,еда,картошка3,345.00,2017-09-07,False
4,10,14,5,транспорт,купить газель,1000.00,2017-09-07,False
5,11,14,5,транспорт,купить газель1,1001.00,2017-09-07,False
6,12,13,5,дом,Позвони маме!,1.00,2017-09-07,False